[submodule "alg1/projeto1/Caixeiro"]
	path = alg1/projeto1/Caixeiro
	url = git@github.com:Petroncini/Caixeiro.git
[submodule "alg1/projeto2/Sets"]
	path = alg1/projeto2/Sets
	url = git@github.com:carol-akimi/Sets.git
[submodule "fileorg/Arxival"]
	path = fileorg/Arxival
	url = git@github.com:Petroncini/Arxival.git
[submodule "oop/JupiterScrape"]
	path = oop/JupiterScrape
	url = git@github.com:Petroncini/JupiterScrape.git
[submodule "oop/runcodes/CoffeeTree"]
	path = oop/runcodes/CoffeeTree
	url = git@github.com:Petroncini/CoffeeTree.git
[submodule "Shepards"]
	path = Shepards
	url = git@github.com:Petroncini/Shepards.git
[submodule "icc2/Ordenacao"]
	path = icc2/Ordenacao
	url = git@github.com:carol-akimi/Ordenacao.git
[submodule "icc2/PROJICC2"]
	path = icc2/PROJICC2
	url = git@github.com:Petroncini/PROJICC2.git
